.pharmacy {
    display: block;

    .pharmacy_title {
        width: 40%;
        height: 28px;
        margin-bottom: 5px;
    }

    .pharmacy_add {
        width: 80%;
        height: 29px;
        margin-bottom: 5px;
    }

    .pharmacy_num {
        width: 100px;
        height: 24px;
    }
}